.container-1{
	width: 100%;
	/*margin: 0 auto;*/
	padding-top: 30px;
	text-align: center;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
	 display: flex; 
	 padding: 10px;
	 flex-wrap: wrap;
	 flex-direction: row;
	 justify-content: space-around;

}
.flex-blackjack-row-3{
	top: 600px;
}
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3, body{
	background: url("images/table.jpg");
	color: #ffffff;
	background-size: cover;
 	background-repeat: repeat;
  	background-position: center;
  	background-attachment: fixed;
}
.flex-blackjack-row-1 div{
	padding: 10px;
	height: 650px;
	flex: 1;
	text-align: center;
}
.flex-blackjack-row-1 img{
	width: 25%;
	padding: 10px;

}
.flex-blackjack-row-2 div{
	padding: 10px;
}
.flex-blackjack-row-2 button{
	padding: 10px;
}

table, th, td{
	padding: 5px;
	border: 1px solid #e8ede8;
}